* {
    padding: 0;
    margin: 0;
}

/*
 Cores

Bege
#FAE9C4

Marrons claro
#A97B56

Marrom escuro
#523434

Vermelho
#DB514D

Azul
#ABC8BC

Laranja
#FA6615

Verde
#4CAF50
*/

/*Fontes*/
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/MontserratAlternates-Medium.ttf);
}

@font-face {
    font-family: Orbitron;
    src: url(../fonts/Orbitron/Orbitron-VariableFont_wght.ttf);
}

@font-face {
    font-family: Righteous;
    src: url(../fonts/Righteous/Righteous-Regular.ttf);
}

/*Animação do botão*/
@keyframes animarBtn {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/*Animação da imagem*/
@keyframes animarImg {
    0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-20px);
      }
      100% {
        transform: translateY(0);
      }
}

body {
    background-color: #A97B56;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 1rem;

    display: grid;
    overflow-x: hidden;
}

header, section, footer {
    display: flex;
    align-items: baseline;
}

header {
    align-items: center;
}

footer {
    color: rgba(255, 255, 255, 0.658);
    padding: 1rem 0;
    justify-content: center;
}

section {
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 600;
    font-size: 2rem;
    font-family: Righteous;
    color: #523434;
    letter-spacing: .4rem;
}

h2 {
    padding-left: .6rem;
    font-weight: 600;
    font-family: Righteous;
    color: #523434;
    letter-spacing: .3rem;
}

h4 {
    font-weight: 200;
    display: inline-block;
}

button {
    cursor: pointer;
    font-weight: 400;
    letter-spacing: .1rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.25rem;
}

a, a:visited {
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    cursor: pointer;
    text-decoration: none;  
}

select {
    cursor: pointer;
    font-weight: 600;
    letter-spacing: .1rem;
    padding: 0.375rem 0.75rem;
    border: none;
    border-radius: .25rem;
    background: #FAE9C4;
    color: rgb(41, 41, 41);
}

select:focus {
    border: none;
    outline: none;
}

form {
    background-color: #A97B56;
    border: 2px solid #FAE9C4;
    border-radius: 1rem;
    padding: 1rem;
    margin: 2rem auto;
    width: 400px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #FAE9C4;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: .6rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #FAE9C4;
}

.btnTopo {
    background-color: rgba(0, 0, 0, 0.151);
    border: 2px solid #FAE9C4;
    color: #FAE9C4;
}

.btnTopo:hover {
    background-color: #FAE9C4;
    color: #182237;
}

.btnTopo span {
    display: none;
}

#btnModalAddPessoa, #btnModalVerPessoas  {
    margin: 0 0.5rem;
}

.container {
    display: grid;
    justify-content: center;
}

.card {
    text-align: left;
    padding: 1rem;
}

h1 strong {
    color: #ABC8BC;
}

#divSorteio p {
    color: rgba(255, 255, 255, 0.658);
    margin: 1rem 0;
}

.title-card {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    text-align: center;
}

.title-card p, .body-card p {
    color: rgba(255, 255, 255, 0.658);
    max-width: 500px;
}

.destaque {
    font-weight: bold;
    color: #523434;
}

.body-card {
    border-radius: .5rem;
    border: 2px solid #FAE9C4;
    padding: .4rem;
    margin: 1rem 0;
}

#btnSortear, #btnVoltar {
    color: #FAE9C4;
    background-color: #FA6615;
    animation: animarBtn 1s ease-in-out infinite alternate-reverse;
}

#btnSortear:hover, #btnVoltar:hover {
    transition: 0.6s all ease-in-out;
    background-color: #fae9c4c2;
    color: #FA6615;
}

.divImg img {
    width: 100%;
    margin-bottom: 0.5rem;
    animation: animarImg 4s ease-in-out infinite alternate-reverse;
}

.divBtn {
    margin-top: 1rem;
    display: flex;
    justify-content: start;
}

.modal {
    background-color: #A97B56 !important;
}

.form-text {
    display: inline-block;
    margin-bottom: .8rem;
    padding: .2rem;
}

.msg-success {
    color: #4CAF50;
}

.msg-error {
    color: red;
}

.campo-success, .campo-success:focus {
    border-width: 2px;
    border-color: #4CAF50;
    outline: #4CAF50;
}

.campo-error, .campo-error:focus {
    border-width: 2px;
    border-color: red;
    outline: red;
}

.btnAdd {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: .5rem .8rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btnAdd:hover {
    background-color: #69b46b;
}

.btnAdd:disabled {
    background-color: #69b46b;
    cursor: default;
}

.total {
    margin: .5rem 0;
    color: white;
}

table {
    margin-top: 1rem;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.014);
    color: #333;
    font-size: 16px;
    text-align: left;
}

table th,
table td {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

table td {
    vertical-align: middle;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.data {
    font-size: .7rem;
}

@media (max-width: 576px) {
    h1 {
        text-align: center;
    }

    header {
        width: 100%;
        position: fixed;
        bottom: 0px;
        left: 0px;
        justify-content: center;
        padding-top: .5rem;
        padding-bottom: .5rem;
        border-top-right-radius: .5rem;
        border-top-left-radius: .5rem;

        background-color: #523434;
    }

    form {
        width: 90%;
    }

    header div {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .btnTopo {
        background: none;
        border: none;
        color: #FAE9C4;
    }

    .btnTopo span {
        display: none;
    }

    .container {
        grid-template-columns: 100%;
    }

    .card div {
        justify-content: center;
    }

    #divSorteio p {
        text-align: center;
        max-width: 40rem;
    }    

    footer {
        margin-bottom: 3.4rem;
    }

    .modal {
        min-width: 300px;
        width: 95% !important;
        padding: .4rem !important;
    }
}

@media (min-width: 576px) {
    body {
        height: 100vh;
        grid-template-rows: auto;
    }

    h1 {
        text-align: center;
    }

    h2 {
        font-size: 1.5rem;
    }

    header {
        padding: .8rem;
    }

    .btnTopo span {
        display: none;
    }

    .container {
        grid-template-columns: 100%;
    }

    .card div {
        justify-content: center;
    }

    #divSorteio p {
        max-width: 40rem;
    }
}

@media (min-width: 992px) {
    body {
        grid-template-rows: 10% 80% 10%;
    }

    h1 {
        text-align: left;
    }

    header {
        padding: 1rem;
    }

    .btnTopo span {
        display: inline-block;
    }

    .btnTopo i {
        margin-left: .4rem;
    }

    .container {
        grid-template-columns: 50% 50%;
    }

    .card {
        padding: 2rem;
    }

    .card div {
        justify-content: left;
    }

    #divSorteio p {
        max-width: 25rem;
        text-align: left;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 2.5rem;
    }

    #divSorteio p {
        max-width: 40rem;
    }

    #modalVerLojas, #modalVerPessoas {
        max-width: 800px !important;
    }
}

@media (min-width: 1400px) {
    body {
        font-size: 1.5rem;
    }
    
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    .body-card p {
        max-width: 600px;
    }

    select {
        font-size: 1.5rem;
    }

    #btnSortear, #btnVoltar {
        font-size: 1.5rem;
    }
}

